.weight-chart-card {
  display: flex;
  flex-direction: column;
}

.chart-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

/* Responsive chart */
@media (max-width: 768px) {
  .weight-chart-card {
    align-items: center;
  }
}
